<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<deck game="b440d120-025a-4fbe-9f8d-3873acacb37b" sleeveid="0">
  <section name="Outfit" shared="False">
    <card qty="1" id="{{ outfit.id }}">{{ outfit.name }}</card>
  </section>
  <section name="Starting Cards" shared="False">
{% for card in start %}
    <card qty="{{ card.qty }}" id="{{ card.id }}">{{ card.name }}</card>
{% endfor %}
  </section>
  <section name="Deck" shared="False">
{% for card in deck %}
    <card qty="{{ card.qty }}" id="{{ card.id }}">{{ card.name }}</card>
{% endfor %}
  </section>
  <notes><![CDATA[{{ description }}]]></notes>
</deck>