{% extends 'DtdbCardsBundle:Search:display.html.twig' %}

{% import "DtdbCardsBundle::suits.html.twig" as suits %}

{% block main %}

{% for row in 0..(cards|length-1)//4 %}
<div class="row" style="margin-bottom:3em">
{% for col in 0..3 %}
{% if row*4+col < cards|length %}

{% set card = cards[row*4+col] %}

<div class="col-sm-3 icon-bg icon-{{ card.gang_code }}">
		<h5>
		  {{ suits.display_card_face(card.rank, card.suit|lower) }}
		  <a href="{{ card.url }}" class="card-title{% if card.available == false %} card-preview{% endif %}">{{ card.title }}</a>
		</h5>
	<p style="font-family:sans-serif">
		{{ card.type }}
		{% if not card.bullets is null %}&bull; {{ card.shooter }} {{ card.bullets }}{% endif %}
		{% if not card.influence is null %}&bull; Influence {{ card.influence }}{% endif %}
		{% if not card.control is null %}&bull; Control {{ card.control }}{% endif %}
		{% if not card.cost is null %}&bull; Cost {{ card.cost }}{% endif %}
		{% if not card.wealth is null %}&bull; Wealth {{ card.wealth }}{% endif %}
		{% if not card.production is null %}&bull; Production {{ card.production }}{% endif %}
		{% if not card.upkeep is null %}&bull; Upkeep {{ card.upkeep }}{% endif %}
	</p>
    <div class="card-keywords">
        {% if card.keywords %}{{ card.keywords }}{% endif %}
    </div>
	<div class="card-text">
		{{ card.text|raw }}
	</div>
	<p style="font-style:italic;font-size:10px">
		{{ card.flavor|raw|nl2br }}
	</p>
	<p style="font-family:sans-serif;font-size:10px">
		{{ card.illustrator }}
	</p>
	<p style="font-size:12px">
	   {% if not card.gang is null %}<img src="{{ asset('/web/bundles/dtdbbuilder/images/' ~ card.gang_code ~ '-20.png') }}" title="{{ card.gang }}"> &bull; {% endif %}{{ card.pack }} #{{ card.number }}
	</p>
</div>


{% endif %}
{% endfor %}
</div>
{% endfor %}

{% endblock %}
